.comment{
    font: var(--comment);
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    gap: 24px;
    /* justify-content: center; */
}

.comment p:nth-of-type(2){
    /* border: 1px solid red; */
    font: var(--headline5);
}

.comment img{
    width: 80px;
    height: 80px;
}