.hero-container{
    z-index: 1;
}

.hero{
    padding-block-start: 16px;
    position: relative;
}

.hero-description{
    display: flex;
    z-index: 1;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.hero-social{
    padding-block-end: 24px;
}

.hero-image{
    text-align: center;
    z-index: 1;
    
}

.hero-image img{
    max-inline-size: 100%;
    block-size: auto;
    border-radius: 7px;
}

.hero h1{
    font: var(--headlineCard);
    color: var(--white);
    margin: 0;
}

.hero h1 span:nth-of-type(1){
    font: var(--headline5);
    display: block;
}

.illustrations-container{
    z-index: 0;
}

.illustration{
    position: absolute;
    z-index: 0;
    width: 372px;
    height: 437px;
    left: -250px;
    top: -100px;
}

.illustration-bottom-hero{
    /* Ilustration bottom */
    position: absolute;
    width: 1115.35px;
    height: 807.76px;
    left: 390px;
    top: -90px;
}

@media screen and (min-width: 768px){
    .hero{
        display: flex;
        gap: 32px;

    }

    .hero-description{
        order: 1;
        max-inline-size: 450px;
    }
    
    .hero-image{
        order: 2;
        text-align: end;
        flex: 1;
    }

    
}

@media screen and (min-width: 1024px){
    .hero-image img{
        inline-size: 400px;
        block-size: 400px;
    }
}


@media screen and (max-width: 426px){
    /* .hero-image img{
        inline-size: 400px;
        block-size: 400px;
    } */

    .illustration{
        width: 8em;
        height: 9.36em;
        left: 0;
        top: 0;
    }

    .illustration img{
        width: inherit;
        height: inherit;
    }

    .illustration-bottom-hero{
        /* Ilustration bottom */
        display: none;
    }


}

@media screen and (max-width: 768px){

    .illustration{
        width: 8em;
        height: 9.36em;
        left: 0;
        top: 0;
    }

    .illustration img{
        width: inherit;
        height: inherit;
    }

    .illustration-bottom-hero{
        display: none;
    }
    
}

@media screen and (max-width: 1025px){

    .illustration{
        width: 8em;
        height: 9.36em;
        left: 0;
        top: 0;
    }

    .illustration img{
        width: inherit;
        height: inherit;
    }
    
    .illustration-bottom-hero{
        display: none;
    }
}