.image-tree{
    width: 165px;
    height: 165px;
    border-radius: 100%;
}

.perfil-tree-title{
    font: var(--headline4);
    color: white;
}

.perfil-tree-desc{
    font: var(--body1);
    margin-block-end: 40px;
    color: white;
}

.perfil-tree-container{
    text-align: center;
    position: relative;
    z-index: 3;
}

.linktree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}