@import "./css/button.css";
@import "./css/button-icon.css";
@import "./css/header.css";
@import "./css/wrapper.css";
@import "./css/hero.css";
@import './css/menu.css';
@import './css/comment.css';
@import './css/project.css';
@import './css/social.css';
@import './css/footer.css';
@import './css/form.css';
@import './css/title.css';
@import './css/perfiltree.css';
@import './css/linkitem.css';

:root{
    --fontBase:'Poppins', sans-serif;
    --fontComment: 'Oxygen', sans-serif;
    --headline1: bold 95px/153.71px var(--fontBase);
    --headline2: bold 59px/95px var(--fontBase);
    --headline3: bold 48px/77px var(--fontBase);
    --headline4: bold 34px/55px var(--fontBase);
    --headline5: bold 24px/38px var(--fontBase);
    --body1: 16px/25px var(--fontBase);
    --body2: 14px/22px var(--fontBase);
    --button: bold 14px/22px var(--fontBase);
    --caption: bold 12px/19px var(--fontBase);
    --comment: 34px/55px var(--fontComment);
    --gradient: linear-gradient(0deg, #DDDDDD, #DDDDDD);
    --gradient_v2: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
    --purple: #310A90;
    --white: white;
}

body{
    background: var(--gradient_v2);
    min-block-size: 100vh;
    font: var(--body1);
    color: var(--purple);
    margin: 0;
}

body a:hover {
    color: white;
}
